.container {
    display: grid;
    height: 600px;
    width: 100%;
    margin-left: 73px;
    grid-gap: 0;
    grid-template-areas: 
    /* visual display of the grid*/
    "pic learn-more learn-more"
    "about-me about-me about-me"
    "work work work"
    "interest achieve resume" 

    }
    
  .round-pic {
      border-radius: 50%;
      height: 400px;
      width: 400px;
      overflow: hidden;
      border:black solid 1px;
  
    }

  #pic {
      display: flex;
      flex-direction: row;
      image-orientation: -1px;
      justify-content: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
      grid-area: pic;
      background: white; 
      
    }

  #learn-more {
      text-align: center;
      background-color: white;
      padding: 75px 0;
      grid-area: learn-more;
      border: dashed #DE1B1B 1px;
  }

  #about-me {
      text-align: center;
      background-color: rgb(201, 240, 245);
      grid-area: about-me;
      border: dashed lightgrey 1px;
    
  }

  #work {
      text-align: center;
      grid-area: work;
      border: dashed lightgrey 1px;
      background: whitesmoke;
  }

  #interests {
      text-decoration: none;
      text-align: center;
      grid-area: interests;
      border: dashed lightgrey 1px;
      background: whitesmoke;

  }

  #achievements {
      grid-auto-columns: 50px; 
      text-decoration: none;
      text-align: center;
      grid-area: achievements;
      border: dashed lightgrey 1px;
      background: whitesmoke;

  }
    
  #achievements {
      text-decoration: none;

  }

  #resume {
      text-align: center;
      grid-area: resume;
      border: dashed lightgrey 1px;
      background: #DE1B1B
      
  }
  .nav {
      display: flex;
      flex-direction: column;
      padding: 20px;
      justify-content: left;
      justify-content: space-evenly;  
      height: 100%;
      width: 60px;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #87AAB9; 
  }

  .nav {
    color: rgb(245, 111, 70); 
    text-decoration: none;
    
  }

  .interests {
      text-decoration: none;

  }
  
  /* OTHER STYLES */
  
  body {
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  